html,
body {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

html .slides,
body .slides,
html > .dg,
body > .dg {
  display: none; }

@media (min-width: 1000px) {
  body > .dg {
    display: block; } }

.home-splash {
  height: 100%; }

#particles {
  width: 100%;
  height: 100%; }
