.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.uid-input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid grey;
    width: 24rem;
    height: 30px;
    display: block;
    transition: border-bottom 0.4s ease-in-out;
}
.uid-input:focus {
    border-bottom: 1px solid black;
}
.dashboard-title {
    text-align: center;
    margin: 0px;
    /* text-align: center; */
    font-size: 5rem;
    color: red;
}
.submit {
    margin: auto 10rem;
    padding: 10px 20px;
    /* display: block; */
    outline: none;
    border-radius: 30px;
    border: 2px solid black;
    background-color: white;

}
.submit:hover{
    outline: 1px gray;
}
::placeholder{
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 20px;
}
.submit:focus {
    outline: none;
}

.uid-input:focus{
    outline: none;
}
.details{
    margin: 0 auto;
    /* opacity: 0; */
    /* visibility: hidden; */
    transition: opacity 0.5s ease-in;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }