<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
  <title>Register</title>
</head>

<body style="overflow: hidden">
  <div class="loader-prime">
    <img src="/img/logos/alpha.gif" alt="Alpha" />
    <div class="wordmark"></div>
    <div class="moodi-logo"></div>
    <div class="mext-logo"></div>
    <div class="dates">
      <h4>18th - 20th October</h4>
    </div>
  </div>
  <header>
    <img id="wordmark" class="wordmark-dark" src="/img/logos/wordmark-white.png" alt="Wordmark">
    <div class="nav">
      <ul>
        <li>
          <span class="nav__sword"></span>
          <span class="nav__handle"></span>
        </li>
        <li>
          <span class="nav__handle"></span>
          <span class="nav__sword"></span>
        </li>
        <li>
          <span class="nav__sword"></span>
          <span class="nav__handle"></span>
        </li>
      </ul>
    </div>
    <div class="nav-container">
      <div class="nav-container__redoverlay"></div>
      <div class="nav-container__blackoverlay"></div>
      <div class="nav-container__whiteoverlay">
        <ul>
          <li>
            <a href="/" class="custom-link">Home</a>
          </li>
          <li>
            <a href="/login" class="custom-link">Login</a>
          </li>
          <li>
            <a href="/register" class="custom-link">Register</a>
          </li>
          <li>
            <a href="/eventregistrations" class="custom-link">Register-Events</a>
          <li>
            <a href="/events" class="custom-link">Events</a>
          </li>
          <li>
            <a href="/campusambassador" class="custom-link">Campus Ambassador</a>
          </li>
          <li>
            <a href="/accomodation" class="custom-link">Accomodation</a>
          </li>
          <!-- <li>
            <a href="/contact">Contact Us</a>
          </li> -->
        </ul>
      </div>
    </div>
  </header>

  <main id="register-container">
    <div class="register-container">
      <div class="register-container__white-section">
        <div class="register-container__overlay register-container__white-section--overlay">
          <h1>MUJ Students</h1>
        </div>
        <div class="register-container__underlay register-container__white-section--underlay">
          <h1 id="mob-reg">Registration for MUJ STudents</h1>
          <form id="mujform" @submit.prevent="registerManipal">
            <section>
              <input type="text" name="name" v-model="name" placeholder="Your Name" required>
            </section>
            <section>
              <input type="text" name="username" v-model="username" placeholder="Username" required>
            </section>
            <section>
              <input type="number" name="regno" v-model="regno" placeholder="Registration Number" required>
            </section>
            <section>
              <input type="email" name="email" v-model="email" placeholder="E-Mail" required>
            </section>
            <section>
              <input type="password" name="password" v-model="password" placeholder="Password" required>
            </section>
            <section>
              <input type="password" name="cpassword" v-model="repassword" placeholder="Confirm Password" required>
            </section>
            <section>
              <input type="number" name="phno" v-model="pno" placeholder="Phone Number" required>
            </section>
            <section>
              <input type="number" name="whatsapp" v-model="wpno" placeholder="WhatsApp Number" required>
            </section>
            <input type="submit" value="Submit" :disabled="disabled">
          </form>
          <transition name='fade'>
            <p v-if="mujerror !== ''" id="mujregister-error" class="register-error">{{mujerror}}</p>
          </transition>
        </div>
      </div>
      <div class="register-container__black-section">
        <div class="register-container__overlay register-container__black-section--overlay">
          <h1>Other Students</h1>
        </div>
        <div class="register-container__underlay register-container__black-section--underlay">
          <h1>Registration for Other Students</h1>
          <form id="otherform" @submit.prevent="registerOther">
            <section>
              <input autocomplete="off" v-model="name" type="text" name="name" placeholder="Your Name">
            </section>
            <section>
              <input autocomplete="off" v-model="username" type="text" name="username" placeholder="Username">
            </section>
            <section>
              <input autocomplete="off" v-model="college" type="text" name="college" placeholder="College">
            </section>
            <section>
              <input autocomplete="off" v-model="email" type="email" name="email" placeholder="E-Mail">
            </section>
            <section>
              <input autocomplete="off" v-model="password" type="password" name="password" placeholder="Password">
            </section>
            <section>
              <input autocomplete="off" v-model="repassword" type="password" name="cpassword" placeholder="Confirm Password">
            </section>
            <section>
              <input autocomplete="off" v-model="pno" type="number" name="phno" placeholder="Phone Number">
            </section>
            <section>
              <input autocomplete="off" v-model="wpno" type="number" name="whatsapp" placeholder="WhatsApp Number">
            </section>
            <section id="refcode">
              <input autocomplete="off" v-model="code" type="text" name="refcode" placeholder="Referral Code (Optional)">
            </section>
            <section id="campusambassador">
              <input id="default-radio" type="checkbox" v-model="campamb">
              <label for="default-radio">Do you wish to be a Campus Ambassador?<span id="custom-radio"></span></label>
            </section>
            <input type="submit" value="Submit" :disabled="disabled">
          </form>
          <transition name='fade'>
            <p v-if="othererror !== ''" id="otherregister-error" class="register-error">{{othererror}}</p>
          </transition>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
  <script src="/js/config/db.js"></script>
  <script src="/js/config/register/register.js"></script>
  <script src="/js/common/global.js"></script>
  <script src="/js/register/index.js"></script>
  <script src="/js/register/form.js"></script>
  <!-- <script src="/js/config/register/manipal.js"></script> -->
</body>

</html>