<!DOCTYPE html>
<html>

    <head>
        <title>Login - Campus Ambassador</title>
    </head>

    <body>
        <div id="campus-ambassador-login">
            <h1>Login</h1>
            <input type="text" placeholder="Username" v-model="usernameAuth">
            <br>
            <input type="password" placeholder="Password" v-model="passwordAuth">
            <br>
            <button @click="login">Login</button>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
    <script src="/js/config/db.js"></script>
    <script src="/js/config/campusamb/login.js"></script>
    </body>
</html>