.me-container {
  display: flex;
  height: 100%;
  transition: .2s all;
  cursor: pointer;

  .destival {
    &__splash {
      background: url('/img/majorevents/destival.jpg');
    }

    &__overlay {
      background: #3F51B5;
    }
  }

  .requiem {
    &__splash {
      background: url('/img/majorevents/requiem.jpg');
    }

    &__overlay {
      background: #9C27B0;
    }
  }

  .fashionshow {
    &__splash {
      background: url('https://images.unsplash.com/photo-1519075509237-10f3fe5aeee1?ixlib=rb-0.3.5&s=bdb14dc2e37ca9dd5bbf34b89916f53f&auto=format&fit=crop&w=668&q=80');
    }

    &__overlay {
      background: #E91E63;
    }
  }
}

@import './global';
@import './content';