.me-container {
  display: flex;
  height: 100%;
  transition: .2s all;
  cursor: pointer;

  .destival {
    &__splash {
      background: url('https://images.unsplash.com/photo-1533854257392-71c5ff28dff7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d0398e4a2c8ed0d899487068b9a579a2&auto=format&fit=crop&w=1957&q=80');
    }

    &__overlay {
      background: blue;
    }
  }

  .requiem {
    &__splash {
      background: url('https://images.unsplash.com/photo-1507901747481-84a4f64fda6d?ixlib=rb-0.3.5&s=5a8979f1d3f696c7f3e9488857d2668c&auto=format&fit=crop&w=1950&q=80');
    }

    &__overlay {
      background: green;
    }
  }

  .fashionshow {
    &__splash {
      background: url('https://images.unsplash.com/photo-1519075509237-10f3fe5aeee1?ixlib=rb-0.3.5&s=bdb14dc2e37ca9dd5bbf34b89916f53f&auto=format&fit=crop&w=668&q=80');
    }

    &__overlay {
      background: red;
    }
  }
}

@import './global';
@import './content';
