.aperture-prime {
  background: url("/img/events/clubs/aperture/prime.jpg");
  background-position: center;
  background-size: cover;
}

.event-next__aperture {
  background: #ff5722;
}

.event-image__focus {
  background: url("/img/events/clubs/aperture/focus.jpeg");
}

.event-image__shutterup {
  background: url("/img/events/clubs/aperture/shutterup.jpeg");
}

.event-image__instaperture {
  background: url("/img/events/clubs/aperture/instaperture.jpeg");
}

.event-image__showdownofsocieties {
  background: url("/img/events/clubs/aperture/showdown.jpeg");
}

.event-image__pictureperfect {
  background: url("/img/events/clubs/aperture/pictureperfect.png");
}

.event-image__powershoot {
  background: url("/img/events/clubs/aperture/powershoot.jpeg");
}
