.aperture-prime {
  background: url('/img/all/aperture/prime.jpg');
  background-position: center;
  background-size: cover;
}

.event-image__focus-splash {
  background: url('/img/all/aperture/focus.jpg');
}