.coreo-prime {
  background: url("/img/all/coreo/prime.jpg");
  background-position: center;
  background-size: cover;
}

.event-next__coreo {
  background: #F06292;
}

.event-image__focus {
  background: url('');
}

.event-image__coreo {
  background: #ff5722;
}

.event-image__shutter-up {
  background: url("");
}

.event-image__instcoreo {
  background: url("");
}

.event-image__showdownofsocieties {
  background: url("");
}

.event-image__pictureperfect {
  background: url("");
}

.event-image__powershoot {
  background: url("");
}
