.litmus-prime {
  background: url("/img/all/litmus/prime.jpg");
  background-position: center;
  background-size: cover;
}

.event-next__litmus {
  background: #303f9f;
}

.event-image__focus {
  background: url("");
}

.event-image__litmus {
  background: #ff5722;
}

.event-image__shutter-up {
  background: url("");
}

.event-image__instlitmus {
  background: url("");
}

.event-image__showdownofsocieties {
  background: url("");
}

.event-image__pictureperfect {
  background: url("");
}

.event-image__powershoot {
  background: url("");
}
