
.tmc-prime {
    background: url('/img/all/aperture/prime.jpg');
    background-position: center;
    background-size: cover;
  }
  
  .event-image__focus-splash {
    background: url('/img/all/aperture/focus.jpg');
  }
  
  .event-next__tmc {
    background: #c62828;
  }
  
  .event-next_shutter-up{
      background: url('');
  }
  
  .event-next_instaperture{
      background: url('');
  }
  
  .event-next_showdownofsocieties{
      background: url('');
  }
  
  .event-next_pictureperfect{
      background: url('');
  }
  
  .event-next_powershoot{
      background: url('');
  }
  