<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>
        Funzone
    </title>
</head>

<body align="center">
    <div id="Glogin">
        <h2 class="splashscreen__header">Funzone</h2>

        <h1 class="funzone__login--header">Ready to win some coupons ?<br> <span class="funzone__login--header--sub">Go
                ahead and knock yourself out!</span></h1>
        <form action="" @submit.prevent="login">
            <input type="text" placeholder="Email" v-model="email" class="funzone__input">
            <br>
            <input type="password" placeholder="Password" v-model="password" class="funzone__input">
            <br>
            <button class="arcade-button funzone__login--button" :class="{ 'funzone__login--button--loading': this.loading }">{{text}}</button>
        </form>

    </div>
    <div class="signup">
        Don't Have an Account Sign Up <a href="https://oneiros.mext.in/register">here</a>.
    </div>
    <script src="./assets/js/libs/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
    <script type="text/javascript">
        var config = {
            apiKey: 'AIzaSyCszYWkqAN5VQsXjrtAVB7dI7hIB-q1CQ0',
            authDomain: 'mast-project-naam.firebaseapp.com',
            databaseURL: 'https://mast-project-naam.firebaseio.com',
            projectId: 'mast-project-naam',
            storageBucket: 'mast-project-naam.appspot.com',
            messagingSenderId: '400633154339'
        }
        const app = firebase.initializeApp(config)
        const firestore = firebase.firestore()
        firestore.settings({
            timestampsInSnapshots: true
        })
        const auth = firebase.auth()
    </script>
    <script>
        new Vue({
            el: "#Glogin",
            data: {
                email: '',
                password: '',
                loading: false
            },
            computed: {
            },
            created() {
                firebase.auth().onAuthStateChanged(function (user) {
                    if (user) {
                        window.location.href = './funzone.html'
                    }
                })
            },
            computed: {
                text: function () {
                    return this.loading ? "" : "Login"
                }
            },
            methods: {
                login(e) {
                    this.loading = !this.loading
                    var this2 = this
                    auth.signInWithEmailAndPassword(this.email, this.password)
                        .then(function (user) {
                            window.location.href = './funzone.html';
                        })
                        .catch(function (err) {
                            this2.loading = !this2.loading
                            alert('Wrong Credentials');
                        })
                }
            }
        })    
    </script>
</body>

</html>