#pp-nav {
  z-index: 4 !important;
}

.home-splash {
  height: 100%;
  background: #020202;
}

.home-about {
  background: url("/img/home/about.jpg");
  background-position: center;
  background-size: cover;

  position: relative;
}

.home-contact {
  background: $color-primary;
}
