@media (max-width: 1400px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 6px;
  }

  #wordmark {
    top: 2rem;
    left: 2rem;
  }

  .home {
    &.about {
      width: 80%;
      right: auto;
      left: 2rem;

      &__content {
        font-size: 3rem;
        line-height: 1.4;
      }
    }
  }

  .activate-redoverlay {
    width: 75%;
  }

  .activate-blackoverlay {
    width: 68%;
  }

  .activate-whiteoverlay {
    width: 60%;
  }

  .nav-container__whiteoverlay ul li a {
    white-space: normal;
  }

  .nav {
    top: 2rem;
    right: 2rem;
  }

  .all{
    &__prime {
      &--desc {
        // color: $color-secondary;
        box-shadow: 0px 0px 2rem rgba(0,0,0,0.3);
        // font-weight: bold; 
        // font-family: Gotham-Black;
      }
    }
  }

  .event {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0;

    &__desc {
      font-size: 2.5rem;
      line-height: 1.55;
      margin-bottom: 3rem;
    }
  }

  .event-desc {
    &__info {
      padding: 0 6rem;

      &--detail {
        flex-direction: column;

        // justify-content: flex-start;
        align-items: flex-start;

        h1 {
          margin-bottom: 4rem;
        }

        h3 {
          text-align: left;
        }
      }
    }
  }

  .events-splash {
    &__container {
      &--content {
        width: 90%;
        display: block;
        margin: 0 auto;
        float: none;
        font-size: 3rem;
        line-height: 1.6;
        position: relative;
        background: rgba(255, 255, 255, 0.8);
        z-index: 0;

        &:after {
          position: absolute;
          width: 2rem;
          height: 100%;
          top: 50%;
          right: 4.5rem;
          z-index: -1;
          background: #9b02c660;
          transform: rotate(4deg) translate(0%, -50%);
          content: "";
        }
      }
    }
  }

  .event-container {
    .fp-tableCell {
      flex-direction: column;
      padding: 6rem;
      align-items: stretch;

      // justify-content: stretch;
   
    }

    .event-image {
      margin: 0 auto;
    }
  }

  .event-reg {
    &__reg {
      &--header {
        font-size: 7rem;
        text-align: center;
        width: 80%;
        margin-bottom: 8rem;
      }
    }
  }

  .camb {
    padding: 10rem 5rem 6rem 7rem;

    &__header {
      margin-bottom: 8rem;
    }

    &__content {
      width: 100%;
      margin: 0;

      &--mb {
        margin-bottom: 10rem;
      }

      &--mbsmall {
        margin-bottom: 10rem;
      }

      &__header {
        white-space: normal;
      }

      &--right {
        padding-right: 0;
        padding-left: 3rem;

        &:after {
          right: auto;
          left: 0;
        }

        &:before {
          right: auto;
          left: -2rem;
        }
      }
    }
  }
}
