<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin - Event Registrations</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="admin-events">
        <select name="" id="" v-model="selectedClub" @change="changeclub">
            <option value="" disabled>Select Club</option>
            <option :value="club" v-for="club in clubs">{{club.name}}</option>
        </select>

        <select name="" id="" v-model="selectedEvent">
            <option value="" disabled>Select Event</option>
            <option :value="event" v-for="event in selectedClub.events">{{event.name}}</option>
        </select>
        <button @click="display">Submit</button>
        <p v-for="user in usersarr">
            {{user.userName}}
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-firestore.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/config/db.js"></script>
    <script src="./events.js"></script>
    <script src="../checkPerson.js"></script>
    <script src="./index.js"></script>
    <script src="/js/common/global.js"></script>
</body>

</html>