.login {
  &--form {
    display: inline-block;
    &-wrapper {
      height: 100vh;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      position: relative;
    }
    .input-group {
      label {
        margin-top: 1.5rem;
        font-family: "Gotham", sans-serif;
        font-size: 1.5rem;
        display: block;
        padding-bottom: 1rem;
      }
      button {
        border: none;
        border: 2px solid black;
        font-size: 2rem;
        font-family: "Gotham-Light", sans-serif;
        font-weight: 700;
        padding: 5px 12px;
        &:focus {
          outline: none;
          border: 2px solid black;
        }
      }
      .line {
        height: 3px;
        margin-top: 10px;
        background-color: black;
        width: 0;
        display: block;
        transition: width 0.4s ease-in-out;
      }
      input:focus + .line {
        width: 100%;
      }
      input {
        border: none;
        font-size: 2.5rem;
        // letter-spacing: 2px;
        height: 3rem;
        font-family: "Gotham-Light", sans-serif;
        color: black;
        outline: none;
        &:focus {
          outline: none;
          border: none;
        }
        // &::placeholder {
        //   color: rgb(201,201,201);
        // }
      }
      &:not(:nth-child(1)) {
        margin-top: 5rem;
      }
    }
  }
  .title {
    font-family: "Gotham-Bold", sans-serif;
    color: $color-primary;
    font-size: 4rem;
    margin-bottom: 9rem;
  }
  &--background {
    width: 50%;
    height: 100vh;
    float: right;
  }
}
